* {
    font-family: work sans;
    font-weight: 600;
    color: white;
}
header {
    background-color: #70a48b;
    color: white;
}
footer {
    background-color: #70a48b;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 3em;
}
.black {
    color: #1f211c;
}
.nav-list {
    list-style-type: none;
    text-align: center;
    border: solid 2px white;
    height: fit-content;
    border-radius: 5px;
    margin: 1%;
    padding: 2px;

}
.nav-list li {
    display: inline;
    margin-right: .5em;
}
h3 {
    border: 2px solid black;
    border-radius: 5px;
    width: 350px;
    padding: 12px;
    background-color: #70a48b;
    color: white;
    text-align: left;
}
p {
    text-align-last: justify;
    width: 350px;
}
button {
    border-radius: 10px;
    background-color: #1f211c;
    padding: 10px;
    margin: 0 auto;
    color: white;
}
.S2h {
    text-align: left;
}
.column {
    width: 33.3%;
    border: 10px;
}
.row {
    column-count: 2;
}
.S2 {
    align-items: center;
}
.child {
    margin: 50px;
    padding: 10px;
}
.sep {
    border-radius: 10px;
} 
footer {
    position: fixed;
}
@media screen and (min-width: 768px) {
   .row {
       column-count: 3;
   } 
   .parent {
       display: flex;
   }
   .nav-list {
       float: right;
       text-align: center;
       margin-right: 2%;
   }
   .column {
       margin: 1px 25px;
   }
}
